
*{padding:0;margin:0;border:0;}


.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #51504D;
}

.board {
  width: calc(72px * 8);
  height: calc(72px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  border-radius: 10px;
}
.cell {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:nth-last-child(1) {
  border-radius: 0 0 9px 0;
}
.cell:nth-last-child(8) {
  border-radius: 0 0 0 9px;
}
.cell:nth-last-child(57) {
  border-radius: 0 9px 0 0;
}
.cell:nth-last-child(64) {
  border-radius: 9px 0 0 0;
}

.cell img {
  width: 66px;
  height: 66px;
  position: absolute;
}

.black {
  background-color: #769656;

}

.white {
  background-color: #EEEED2;

}

.attackingCircle {

}

.attackingCircle::after {
  content: "";
  position: absolute;
  border: solid 5px rgb(28, 26, 26);
  border-radius: 50%;
  opacity: 0.2;
  height: 45px;
  width: 40px;
}

.selected {
  background-color: #F6F669;
}

.available {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(28, 26, 26);
  opacity: 0.2;
}

.lost {
  height: 30px;
  display: flex;

}
.kingIsUnderAttack {
  background-color: #a42a2a;
}
.timer {
  margin: 5px 10px;
  text-align: center;
  width: 128px;
}
.timerChildren {
  background-color: #769656;
  border: black solid 3px;
  margin: 10px 0px;
  border-radius: 7px;
}
.timerSpan {
  height: 40px;
  line-height: 150%;
  font-size: 26px;
}
.timerChildren:nth-last-child(1) {
  color: white;
  border: white solid 3px;
}
.restartBtn {
  text-decoration: none;
  background-color: #85A94E;
  color: white;
  /*border: solid black 3px;*/
  cursor: pointer;
  padding: 7px 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  width: 128px;
}
.nameFlex {
  display: flex;
  background-color: #769656;
  border: solid black 3px;
  border-radius: 10px;
  width: 99%;
}

.nameSpan {
 margin: 0px 6px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
 font-weight: bold;
 font-size: 18px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 55px;
  bottom: 1px;
}
.popupBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 200px;
  min-height: 220px;
  background-color: #edeaea;
  border-radius: 1rem;
  z-index: 101;
  text-align: center;
  color: white;
}
.popupTitle {
  /*margin: 12px 7px 0 7px;*/
  font-size: 2.1rem;
  border-radius: 1rem 1rem 0 0;
  height: 30%;
  font-weight: 800;
  background-color: #85A94E;

  /*font-family: "Montserrat",sans-serif;*/
}
.popupClose {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  background-color: #85A94E;
  border: white solid 1px;
  border-radius: 10px;
  padding: 5px;
  margin: 0 28% 30px ;
  width: 120px;
  height: 40px;
  color: white;
  cursor: pointer;
}
.historyMainBlock {
  min-height: 513px;
  min-width: 300px;
  margin-left: 15px;
  background-color: #41403E;
  border-radius: 7px;
}
.turnHistoryLabel {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.hrTurnHistory {
  height : 2px;
  background-color: white;
  margin-top: 8px;
}
.notationNumber {
  position: relative;
  bottom: 20px;
  right: 25px;
}
.notationLetter {
  position: relative;
  top: 20px;
  left: 25px;
}
.notationLetterSpecial {
  position: relative;
  top: 20px;
  left: 30px;
  color: white;
}
.notationNumberSpecial {
  position: relative;
  bottom: 20px;
  right: 30px;
  color: white;
}
.notationNumberBlack {
  color: #7ca95d;
}
.notationNumberWhite {
  color: white;
}
.notationLetterWhite {
  color: white;
}
.notationLetterBlack {
  color: #7ca95d;
}
.movesRow {
  /*display: flex;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  color: white;
  padding: 2px 8px 0 6px;
  text-align: start ;
  border-bottom: white 2px dashed;
  background-color: #769656;
  height: 28px;
}

.historyContainer {
  display: flex;
  align-items: center;
}
.historyIcon {
  width: 24px;
  height: 24px;
}
.historySpan {
  font-size: 20px;
}
.movesClosingDiv {
  padding-top: 20px;
  border-top: solid 2px white;
}
.movesContainer {
  max-height: 469px;
  padding: 0 0 1px 0;
}
::-webkit-scrollbar {
  width: 20px;
  background-color: white;
}
::-webkit-scrollbar-track {
  background-color: #41403E;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

